### Data cleaning

In [1]:
import pandas as pd

In [3]:
df_import=pd.read_csv("lap_times_2025_round_13.csv")

df_import.head()

,Driver,Lap Number,Lap Time,Position,Time,Sector 1,Sector 2,Sector 3
0,PIA,1.0,0 days 00:03:05.558000,2.0,0 days 02:17:37.928000,NaN,0 days 00:01:22.953000,0 days 00:00:46.768000
1,PIA,2.0,NaN,2.0,0 days 02:20:32.417000,0 days 00:00:46.259000,0 days 00:01:21.693000,0 days 00:00:46.497000
2,PIA,3.0,NaN,2.0,0 days 02:23:23.986000,0 days 00:00:45.865000,0 days 00:01:20.585000,0 days 00:00:45.078000
3,PIA,4.0,NaN,2.0,0 days 02:26:25.966000,0 days 00:00:45.056000,0 days 00:01:25.005000,0 days 00:00:51.999000
4,PIA,5.0,0 days 00:01:59.092000,1.0,0 days 02:28:25.058000,0 days 00:00:32.950000,0 days 00:00:54.450000,0 days 00:00:31.692000

In [81]:
nb_driver=df_import["Driver"].nunique()
print(nb_driver)

20

In [83]:
#print(df['Lap Time'].dtype)

df_import["Lap Time"] = pd.to_timedelta(df_import["Lap Time"])
index = df_import.groupby("Driver")["Lap Time"].idxmin()
df=df_import.loc[index].reset_index(drop=True)

df.head()

,Driver,Lap Number,Lap Time,Position,Time,Sector 1,Sector 2,Sector 3
0,ALB,38.0,0 days 00:01:46.813000,6.0,0 days 03:29:53.163000,0 days 00:00:30.961000,0 days 00:00:47.189000,0 days 00:00:28.663000
1,ALO,32.0,0 days 00:01:45.849000,17.0,0 days 03:19:56.985000,0 days 00:00:30.898000,0 days 00:00:46.149000,0 days 00:00:28.802000
2,ANT,32.0,0 days 00:01:44.861000,16.0,0 days 03:19:54.890000,0 days 00:00:30.843000,0 days 00:00:45.439000,0 days 00:00:28.579000
3,BEA,43.0,0 days 00:01:46.709000,11.0,0 days 03:39:20.977000,0 days 00:00:30.560000,0 days 00:00:47.291000,0 days 00:00:28.858000
4,BOR,41.0,0 days 00:01:46.966000,9.0,0 days 03:35:30.078000,0 days 00:00:31.238000,0 days 00:00:46.936000,0 days 00:00:28.792000

In [87]:
nb_driver_after=df["Driver"].nunique()
print(nb_driver_after)

20

In [89]:
df["Lap Time"].isnull().sum() #v√©rifie qu'il n'y ait pas de valeur nulle

0

In [91]:
list_column=["Driver","Lap Time","Sector 1","Sector 2","Sector 3"]
df=df[list_column]
df.head()

,Driver,Lap Time,Sector 1,Sector 2,Sector 3
0,ALB,0 days 00:01:46.813000,0 days 00:00:30.961000,0 days 00:00:47.189000,0 days 00:00:28.663000
1,ALO,0 days 00:01:45.849000,0 days 00:00:30.898000,0 days 00:00:46.149000,0 days 00:00:28.802000
2,ANT,0 days 00:01:44.861000,0 days 00:00:30.843000,0 days 00:00:45.439000,0 days 00:00:28.579000
3,BEA,0 days 00:01:46.709000,0 days 00:00:30.560000,0 days 00:00:47.291000,0 days 00:00:28.858000
4,BOR,0 days 00:01:46.966000,0 days 00:00:31.238000,0 days 00:00:46.936000,0 days 00:00:28.792000

In [93]:
print(df["Lap Time"].max())

0 days 00:01:47.667000

In [100]:
df["Lap Time"] = df["Lap Time"].astype(str).str.replace("0 days 00:", "", regex=False) #keep only minutes, seconds and hundredths of seconds
df["Sector 1"]=df["Sector 1"].astype(str).str.replace("0 days 00:", "", regex=False)
df["Sector 2"]=df["Sector 1"].astype(str).str.replace("0 days 00:", "", regex=False)
df["Sector 3"]=df["Sector 1"].astype(str).str.replace("0 days 00:", "", regex=False)

df.head()

  Driver      Lap Time      Sector 1      Sector 2      Sector 3
0    ALB  01:46.813000  00:30.961000  00:30.961000  00:30.961000
1    ALO  01:45.849000  00:30.898000  00:30.898000  00:30.898000
2    ANT  01:44.861000  00:30.843000  00:30.843000  00:30.843000
3    BEA  01:46.709000  00:30.560000  00:30.560000  00:30.560000
4    BOR  01:46.966000  00:31.238000  00:31.238000  00:31.238000

In [106]:
print("Number of none value for Sector 1 :" ,df["Sector 1"].isnull().sum())
print("Number of none value for Sector 2 :" ,df["Sector 2"].isnull().sum())
print("Number of none value for Sector 3 :" ,df["Sector 3"].isnull().sum())

Number of none value for Sector 1 : 0
Number of none value for Sector 2 : 0
Number of none value for Sector 3 : 0